@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1674814377990') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Following:before {
  content: "\e604";
}

.icon-wenzhangguanli:before {
  content: "\e611";
}

